@import '../../custom-theme.scss';
.recent-air{
    padding-bottom: 120px;
}

.tip{
    color: $color-brand;
    font-size: smaller;
    padding: 15px;
}

.retry{
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;   
    justify-content: center; 
}
